@media screen and (max-width: 700px) {
  header .container {
    display: flex;
    flex-direction: column;
  }

  header .container nav {
    display: none;
  }

  .botoes {
    display: flex;
    flex-direction: column;
  }

  .botao {
    margin-top: 5px;
  }
}

@media screen and (min-width: 701px) {
  footer {
    display: none;
  }
}

@media screen and (min-width: 1000px) {
  .descricao {
    width: 50%;
  }
}